{% assign separator = include.separator | default: "," %}
{% assign button_names = include.names | split: separator %}
{% if include.after %}
    {% assign content_tag = 'baer-content="' | append: include.after | append: '"' %}
{% else %}
    {% assign content_tag = '' %}
{% endif %}
<div class="baer-button-array" {{content_tag}}>
  <form baer-key="{{include.key}}">
    {% for btn in button_names %}
        <button type="button" class="btn btn-light" onclick="pressButton('{{include.key}}', {{forloop.index0}})">
            {{btn}}
        </button>
    {% endfor %}
  </form>
</div>